// clk
IO_LOC "clk_27m" 4;
IO_PORT "clk_27m" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// leds
IO_LOC "led[5]" 20;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led[4]" 19;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led[3]" 18;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led[2]" 17;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led[1]" 16;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "led[0]" 15;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// hw buttons
IO_LOC "btn[0]" 88; // S1
IO_PORT "btn[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "btn[1]" 87; // S2
IO_PORT "btn[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// SD card
// IO_LOC "SD_MOSI" 82;
// IO_PORT "SD_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
// IO_LOC "SD_SCK" 83;
// IO_PORT "SD_SCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
// IO_LOC "SD_CS" 81;
// IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
// IO_LOC "SD_MISO" 84;
// IO_PORT "SD_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// SD card - SPI mode
IO_LOC "SD_SCK" 83;
IO_PORT "SD_SCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "SD_MOSI" 82;
IO_PORT "SD_MOSI" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "SD_CS" 81;
IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "SD_MISO" 84;
IO_PORT "SD_MISO" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// Unused SDIO lines - keep high in SPI mode
 IO_LOC "SD_D1" 85;
 IO_PORT "SD_D1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
 IO_LOC "SD_D2" 80;
 IO_PORT "SD_D2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// UART USB-C
// IO_LOC "UART_RX" 70;
// IO_LOC "UART_TX" 69;
// IO_PORT "UART_RX" IO_TYPE=LVCMOS33;
// IO_PORT "UART_TX" IO_TYPE=LVCMOS33;

//LCD
// IO_LOC "lcd_dclk" 77;
// IO_LOC "lcd_hs" 25;
// IO_LOC "lcd_vs" 26;
// IO_LOC "lcd_de" 48;
// IO_LOC "lcd_r[0]" 42;
// IO_LOC "lcd_r[1]" 41;
// IO_LOC "lcd_r[2]" 40;
// IO_LOC "lcd_r[3]" 39;
// IO_LOC "lcd_r[4]" 38;
// IO_LOC "lcd_g[0]" 37;
// IO_LOC "lcd_g[1]" 36;
// IO_LOC "lcd_g[2]" 35;
// IO_LOC "lcd_g[3]" 34;
// IO_LOC "lcd_g[4]" 33;
// IO_LOC "lcd_g[5]" 32;
// IO_LOC "lcd_b[0]" 31;
// IO_LOC "lcd_b[1]" 30;
// IO_LOC "lcd_b[2]" 29;
// IO_LOC "lcd_b[3]" 28;
// IO_LOC "lcd_b[4]" 27;
// IO_PORT "lcd_dclk" IO_TYPE=LVCMOS33;
// IO_PORT "lcd_hs"   IO_TYPE=LVCMOS33;
// IO_PORT "lcd_vs"   IO_TYPE=LVCMOS33;
// IO_PORT "lcd_de"   IO_TYPE=LVCMOS33;
// IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33 DRIVE=24;
// IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33 DRIVE=24;


IO_LOC "O_tmds_clk_p" 33,34;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[0]" 35,36;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[1]" 37,38;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[2]" 39,40;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=8;

// audio amplifier
IO_LOC "i2s_en" 51;
IO_PORT "i2s_en" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "i2s_sdata" 54;
IO_PORT "i2s_sdata" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "i2s_lrck" 55;
IO_PORT "i2s_lrck" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "i2s_bclk" 56;
IO_PORT "i2s_bclk" PULL_MODE=UP DRIVE=8 IO_TYPE=LVCMOS33;

// connection to the external BL616/M0S
IO_LOC "m0s[0]" 52; // was 42 - spi_dir = spi_io_dout - SPI data from FPGA to MCU - GPIO10
IO_PORT "m0s[0]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[1]" 53;  // was 41 - SPI data from MCU to FPGA - GPIO11
IO_PORT "m0s[1]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[2]" 71; // was 56 - SPI select, active low - GPIO12
IO_PORT "m0s[2]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[3]" 72; // was 54 - SPI clock, idle low - GPIO13
IO_PORT "m0s[3]" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "m0s[4]" 48; // was 51 - IRQ - Interrupt from FPGA to MCU, active low - GPIO14
IO_PORT "m0s[4]" PULL_MODE=UP IO_TYPE=LVCMOS33;
//IO_LOC "m0s[5]" 48;
//IO_PORT "m0s[5]" PULL_MODE=UP IO_TYPE=LVCMOS33;

// connections to the internal BL616 controller
IO_LOC "spi_csn" 86;
IO_PORT "spi_csn" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_sclk" 13;
IO_PORT "spi_sclk" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_dat" 76;
IO_PORT "spi_dat" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC "spi_dir" 75;
IO_PORT "spi_dir" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;
IO_LOC "spi_irqn" 69; // USB-C UART TX output
IO_PORT "spi_irqn" PULL_MODE=NONE DRIVE=8 IO_TYPE=LVCMOS33;

